lombok.anyconstructor.addConstructorProperties = true
lombok.addNullAnnotations = spring
lombok.addLombokGeneratedAnnotation = true
config.stopBubbling = true
lombok.log.fieldName = log
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
